.color{
    border-radius:50%;
    margin: 0.22em;
    width: 1.25em;
    height: 1.25em;
}

.color.zoom-in
{
    width: 1.50em;
    height: 1.50em;
}

.color.red
{
    background-color:#ff0000;
}

.color.pink
{
    background-color:#ffc0cb;
}

.color.orange
{
    background-color:#ffa500;
}

.color.green
{
    background-color:#008000;
}

.color.blue
{
    background-color:#0000ff;
}

.color.purple
{
    background-color:#800080;
}

.color.black
{
    background-color:#000000;
}

.color.brown
{
    background-color:#a52a2a;
}

.color.grey
{
    background-color:#808080;
}

.create-png
{
    background-color:#2CB9E1!important;
    color:white!important;
}

.reset-form
{
    background-color:white!important;
    color:#2CB9E1!important;
}

.margin-bottom-25
{
    margin-bottom:25px;
}

label:hover{
    cursor:pointer;
}